.footer__link {
 font-size: 16px;
 font-weight: 400;
 line-height: 18px;
 letter-spacing: 0em;
 text-decoration: none;
 color: white;
 margin: 0 18px 0 0;
}

@media screen and (max-width: 720px) {
  .footer__link {
   margin: 0 0 32px;
  }
}

@media screen and (max-width: 475px) {
  .footer__link {
   font-size: 24px;
   line-height: 24px;
  }

  .footer__link:last-child {
   margin: 0 0 48px;
  }
}
