.intro__title {
 width: 100%;
 font-size: 54px;
 font-weight: 900;
 line-height: 58px;
 letter-spacing: 0em;
 margin: 0 0 40px 0;
 padding: 0;
}

@media screen and (max-width: 375px) {
  .intro__title {
   max-width: 250px;
   font-size: 32px;
   line-height: 35px;
  }
}

