.cover__subtitle {
 max-width: 360px;
 font-family: Inter;
 font-size: 18px;
 font-weight: 400;
 line-height: 22px;
 letter-spacing: 0em;
 text-align: center;
 padding: 0;
 margin: 32px 0 0;
}

@media screen and (max-width: 505px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 16px;
    padding: 0;
    margin: 16px 16px 33px;
  }
}


