.place__image {
 max-width: 460px;
 object-fit: cover;
 margin: 0;
 padding: 0;
}

@media screen and (max-width: 1279px) {
  .place__image {
    max-width: 440px;
  }
}

@media screen and (max-width: 1023px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 725px) {
  .place__image {
    max-width: 320px;
  }
}

@media screen and (max-width: 670px) {
  .place__image {
    max-width: 280px;
  }
}

@media screen and (max-width: 475px) {
  .place__image {
    max-width: 475px;
  }
}

@media screen and (max-width: 375px) {
  .place__image {
    max-width: 320px;
  }
}
