.place {
 max-width: 984px;
 display: grid;
 grid-template-columns: repeat(2, minmax(460px,1fr));
 gap: 48px 40px;
 margin: 0 auto;
 padding: 0 0 92px 0;
}

@media screen and (max-width: 1024px) {
 .place {
  grid-template-columns: repeat(2, minmax(440px,1fr));
   gap: 32px;
   padding: 0 48px 92px;
  }
}

@media screen and (max-width: 860px) {
  .place {
   gap: 28px;
   padding: 0 24px 92px;
  }
 }


 @media screen and (max-width: 768px) {
  .place {
   grid-template-columns: repeat(2, minmax(340px,1fr));
   gap: 28px;
   padding: 0 24px 92px;
  }
 }


@media screen and (max-width: 740px) {
  .place {
   grid-template-columns: repeat(2, minmax(216px,1fr));
   padding: 0 24px 92px;
  }
}

@media screen and (max-width: 475px) {
  .place {
   grid-template-columns: 1fr;
   padding: 64px 0 66px;
  }
}
